.cd__main {
  display: block !important;
  /* background: hsl(184, 96%, 18%) !important;
  height: 35vh !important; */
  /* min-height: 720px; */
}
.main-body {
  position: relative;
  margin: 0;
  background: hsl(184, 96%, 18%) !important;
  height: 25vh !important;
  /* min-height: 720px; */
}
.offcanvas.offcanvas-start {
  /* top: 80px !important; */
  border-radius: 10px !important;
}

/* Profile Picture */
.profile-pic {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
}
.profile-pic img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.profile-menu .dropdown-menu {
  right: 0;
  left: unset;
}
.profile-menu .fa-fw {
  margin-right: 10px;
}

.toggle-change::after {
  border-top: 0;
  border-bottom: 0.3em solid;
}
.dropdown-menu[data-bs-popper] {
  left: -50px !important;
}
.navbar-brand {
  color: white !important;
}
.nav-item {
  padding: 0 20px;
  float: left;
  position: relative;
}
.nav-link :hover {
  color: red !important;
}
.bell-icon {
  display: flex;
  align-items: center;
  padding-right: 0;
  color: white;
  font-size: 18px;
}
.nav-item .active::after {
  border-bottom: 3px solid #89e18b;
  position: absolute;
  content: " ";
  bottom: 5px;
  left: 0;
  right: 0;
}

.nav-link {
  font-size: 14px !important;
  color: white !important;
  padding: 0 8px !important;
  &.active,
  &.show {
    color: #89e18b !important;
  }
}
.container-fluid {
  margin: 10px 0 !important;
}

/* tables styles */
.container {
  /* margin: 0 50px !important; */
  margin: 0 auto !important;
}
.table-container {
  padding: 25px 50px;
  background-color: white !important;
  border-radius: 10px;
}
.feature-intro {
  display: flex;
  justify-content: space-between;
}
.feature-intro-item .page-title {
  font-size: 20px;
}
.feature-intro-item .title {
  color: #5f8a40;
}
.feature-intro-item .title span {
  font-weight: 700;
}
.first-button {
  background-color: #2d9596 !important;
}
.second-button {
  background-color: #28b4aa !important;
}
.third-button {
  background-color: #df5454 !important;
}
.table {
  overflow: scroll;
}
thead tr:first-child th {
  border: 0px !important;
}
tbody tr {
  vertical-align: middle;
  border-collapse: collapse !important;
  border-width: 0 0 2px 0 !important;
  border: 5px !important;
  border-color: #d2e9e9 !important;
}
.last-tr {
  border-width: 0 0 15px 0 !important;
}
.table th {
  padding-left: 50px !important;
  background-color: #d2e9e9 !important;
  font-weight: 400;
  font-size: 16px !important;
}
.table th:first-child {
  border-radius: 10px 0 0 10px !important;
  border-bottom: none !important;
}
.table th:last-child {
  border-radius: 0 10px 10px 0 !important;
  border-bottom: none;
}
.table td {
  font-size: 14px;
  padding-left: 50px !important;
}
td .btn {
  --bs-btn-border-radius: 20px !important;
  width: 80px;
  height: 25px !important;
  color: white !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  font-size: 14px !important;
}
@media only screen and (max-width: 990px) {
  .sidebar {
    display: none;
  }
}
@media only screen and (min-width: 990px) {
  .sidebar-btn {
    display: none;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    min-width: 1450px !important;
  }
}
